body{
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.card{
    margin-left: 120px;
    margin-top: 80px;
    margin-right: -100px;

    
    
}

.card-img-top{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}



.card {
    
    
    
    transition: transform .2s;
       
  }
  
  .card:hover {
      
    box-shadow: 0 0 110px rgba(33,33,33,.2);
    transform: scale(1.1); 
  }