<!DOCTYPE html>
<html lang="en">
<head>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="products.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>


<body style="background-color: bg-info;">

<div id="app">

<!--Jumbotron ↴ -->

<div class="jumbotron bg-dark jumbotron-fluid">
 <div class="container">

    <h1 class="display-4 text-light">Find Your Ideal Lesson</h1>
    <p class="lead text-light">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>

 </div>
</div>

<!----->

<main>
    <div v-if="showProduct">
    
        <!-- CheckOut Button-->
        <button class="btn btn-primary mt-2" v-if="this.cart < 1" disabled="disabled"> Checkout</button>
        <button class="btn btn-primary mt-2" v-on:click='showCheckout' v-else  >  Checkout <span class="badge badge-light">{{this.cart.length}}</span> </button>
        <!-- -->
        <button type="button" class="btn btn-danger mt-2" v-on:click="removeItem (product in cart)">remove product</button>
    
        <div v-for="(product, idx) of products" :key="idx">
        
    

    

<!-- -->


<!--Product Cards ↴ -->

<div class="card"  style="width: 18rem;">

   <p><img class="card-img-top" v-bind:src="product.image" alt="pet food"></p>
   <div class="card-body">
    <h2 class="text-center" class="card-title" v-text="product.title"></h2>
    <p class="text-center" class="card-text" v-html='product.description'></p>
    <p class="text-center">Price: ${{product.price}}</p>
    <p class="text-center">available stock: {{product.availableInventory - cartCount(product.title)}}</p>

   <!--Buttons on product Crads ↴ --> 

   
   <div class="text-center">
   <button class="btn btn-primary mt-2"  v-on:click='addToCart(product)' v-if='canAddToCart(product)'> Add to cart</button>
   <button class="btn btn-danger mt-2" disabled="disabled" v-else>Add To Cart </button>
   </div>


 </div>
    
</div>

</div>

</div>

<div v-else> 
    <button v-on:click='showCheckout' class="btn btn-primary mt-2"> Back </button>

    <div class="container">
    <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
        
            
        <h4 class="d-flex justify-content-between align-items-center p-3 mb-2 badge-light">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill" >{{this.cart.length}}</span>
          </h4>
    


                <template>
                    <ul class="list-group mb-3">
                      <li class="list-group-item d-flex justify-content-between lh-condensed" v-for="product in cart"> 
                          {{product}}
                    
                          
                        </li>
                    </ul>
                    </template>
                    
                    <button type="button" class="btn btn-danger" v-on:click="removeItem (product in cart)">remove product</button>
         
    </div>
    <div class="col-md-8 order-md-1"></div>
    <h1>Checkout</h1>

 <!--Login validation messages-->
    <p v-if="errors.length">
        <b>Please correct the following error(s):</b>
        <ul>
          <li v-for="error in errors">{{ error }} </li>
        </ul>
      </p>

    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Billing address</h4>

        

        <form id="app" @submit="checkForm">
          <div class="row">
            <div class="col-md-6 mb-3">

                
                <!--Name field-->
              <label for="name">First name</label>
              <input v-model="name" v-on:keypress="LetterOnly" type="text" class="form-control" id="name" name="name"placeholder="" value="" required="">
             


            </div>
            <!--Last Name field-->
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name</label>
              <input v-model="lastname" v-on:keypress="LetterOnly" type="text" class="form-control" id="lastName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>
    
          
          <div class="mb-3">
            <label for="email">Email</label>
            <input v-model="email" type="email" class="form-control" id="email" placeholder="you@example.com" required="">
            <div class="invalid-feedback">
              Please enter a valid email address for shipping updates.
            </div>
          </div>
    
          <div class="mb-3">
            <label for="address">Address</label>
            <input v-model="address" type="text" class="form-control" id="address" placeholder="1234 Main St" required="1">
            <div class="invalid-feedback">
              Please enter your shipping address.
            </div>
          </div>
    
          <div class="mb-3">
            <label for="Number"> Number </label>
            <input  v-model="number" v-on:keypress="NumberOnly" type="text" class="form-control" id="number" placeholder="075..." required="">
          </div>
    
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="country">Country</label>
              <select class="custom-select d-block w-100" id="country" required="">
                <option value="">Choose...</option>
                <option>United States</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="state">State</label>
              <select class="custom-select d-block w-100" id="state" required="">
                <option value="">Choose...</option>
                <option>California</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="zip">Zip</label>
              <input type="text" class="form-control" v-model="zip" id="zip" placeholder="" required="">
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>
           
    
          
          <hr class="mb-4">
          
          <button class="btn btn-primary btn-lg btn-block" v-if="this.cart <1" disabled="disabled">Add items into cart!</button>
          
          <input type="button"  v-on:click="checkForm, addOrder()" value="Submit"  class="btn btn-primary btn-lg btn-block" v-else > Continue to checkout </input>
        </form>
      </div>
    </div>
</div>
<pre>
    <h2>Order infto</h2>
    <p>First Name: {{order.firstname}}</p>
    <p>Last Name: {{order.lastname}}</p>
    <p>Email Address:{{order.email}}</p>
    <p>Address: {{order.address}}</p>
    <p>Number: {{order.Number}}</p>

</pre>
    </div>
  </div>








<!--Card One -->       
    
</main>

</body>


<script>
let webstore = new Vue({
    el: '#app',
    data: { products: {},
        errors:[],
          name:null,
          age:null, 
          lastname:null,
          number:null,
          address:null,
          email:null,
          zip:null,

    cart:[],
    showProduct: true,
    ShowUP: true,

    
    order:{
        firstname: '',
        lastname: '', 
        address: '',
        city:'',
        Number:'',
        zip:'',
        state:'',
        gift:'',
},

states: {
    AL:'ATLANTA',
    CA:'CALIFORNIA',
    NV:'NERVADA',
    AR:'ARIZONA',
}

},

created: function() {

fetch('https://josebacw2.herokuapp.com/Lessons').then(
function (response) {
response.json().then(
function (json) {

webstore.products = json;
});
})
       },

methods: {

    addToCart(product) {
        this.cart.push(product.title);
        
  
},

checkForm:function(e) {
      this.errors = [];
      if(!this.name) this.errors.push("Name required.");
      if(!this.lastname) this.errors.push("lastname")
      if(!this.zip) 
        this.errors.push("zip required.");

      if(!this.email)
        this.errors.push("email required");

      if(!this.address) 
      this.errors.push("address required"); 

      if(!this.number) {
        this.errors.push("number required.");
      
      } 
      else if(!this.validEmail(this.number)) {
        this.errors.push("number must be 11 digits");        
      }
      if(!this.errors.length) { 
        alert ("Order submitted"); {
        e.preventDefault();   
        }
      }
    
      
        addOrder(product);{
            
            const prd = this.cart.product.id.find(prd => {
                return prd.productID == product.id
            });

const newOrder = {name: this.name, phonenumber: this.number, lesson: product.id};


// Fetch POST
fetch('https://josebacw2.herokuapp.com/order'
, {
method: 'POST'
, // set the HTTP method as 'POST'
headers: {
'Content-Type': 'application/json'
, // set the data type as JSON
},
body: JSON.stringify(newOrder), // need to stringify the JSON object
})
.then(response => response.json())
.then(responseJSON => {
console.log('Success:'
, responseJSON);
});
};

// Fetch PUT 
fetch('https://josebacw2.herokuapp.com/collection/order/:id'
, {
method: 'PUT'
, // set the HTTP method as 'POST'
headers: {
'Content-Type': 'application/json'
, // set the data type as JSON
},
body: JSON.stringify(newOrder), // need to stringify the JSON object
})
.then(response => response.json())
.then(responseJSON => {
console.log('Success:'
, responseJSON);
});
},


    validEmail:function(number) {
      var re = /^[0-9]{10,12}$/;
    return re.test(number);
    
    },

removeItem(product){
    this.cart.splice(this.cart.indexOf
    (product))
},

NumberOnly(e) {
  let char = String.fromCharCode(e.keyCode);
  if (/^[0-9]+$/.test(char)) return true;
  else e.preventDefault();
},

LetterOnly(e) {
  let char = String.fromCharCode(e.keyCode);
  if (/^[A-Za-z]+$/.test(char)) return true;
  else e.preventDefault();
},

showCheckout(){
    this.showProduct = this.showProduct ? false : true;
  

},

Sortby(){
    this.showUP = this.ShowUP ? false : true;
  

},


canAddToCart (product) {
    return product.availableInventory > this.cartCount
    (product.title);
    

    

},

cartCount(products) {
    let count = 0;
    for(let i = 0; i < this.cart.length; i++) {
        if(this.cart[i] === products){
             count++; 
        }
        }
        return count;
    }, 

},





computed: {
   sortedProductsDown() {
       function compare(a, b) {

       if (a.price > b.price) return 1;
       if (a.price < b.price) return -1;
       return 0;
        
       }

       return this.products.sort(compare);
   },

   sortedProductsUP() {
           function compare(a, b) {

           if (a.price > b.price) return -1;
           if (a.price < b.price) return 1;
           return 0;
            
           }

           return this.products.sort(compare);
       
    },

    sortedProducts() {
        if(this.sort == 'priceAsc') {
            return this.sortedProductsUp;
        }
        else if (this.sort == 'priceDesc') {
            return this.sortedProductsDown;
        }
        else{
            return this.products
        }
    },



},


});
</script>
</html>