<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="CW1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="products.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>


<body style="background-color: bg-info;">

<div id="app">

<!--Jumbotron ↴ -->

<div class="jumbotron bg-dark jumbotron-fluid">
 <div class="container">

    <h1 class="display-4 text-light">Find Your Ideal Lesson</h1>
    <p class="lead text-light">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>

 </div>
</div>

<!----->

<main>
    <div v-if="showProduct">
    
        <!-- CheckOut Button-->
        <button class="btn btn-primary mt-2" v-if="this.cart < 1" disabled="disabled"> Checkout</button>
        <button class="btn btn-primary mt-2" v-on:click='showCheckout' v-else  >  Checkout <span class="badge badge-light">{{this.cart.length}}</span> </button>
        <!-- -->
        <button type="button" class="btn btn-danger mt-2" v-on:click="removeItem (product in cart)">remove product</button>
        
        <div v-for="product in sortedProductsDown">



<!-- -->


<!--Product Cards ↴ -->

<div class="card"  style="width: 18rem;">

   <p><img class="card-img-top" v-bind:src="product.image" alt="pet food"></p>
   <div class="card-body">
    <h2 class="text-center" class="card-title" v-text="product.title"></h2>
    <p class="text-center" class="card-text" v-html='product.description'></p>
    <p class="text-center">Price: ${{product.price}}</p>
    <p class="text-center">available stock: {{product.availableInventory - cartCount(product.title)}}</p>

   <!--Buttons on product Crads ↴ --> 

   
   <div class="text-center">
   <button class="btn btn-primary mt-2"  v-on:click='addToCart(product)' v-if='canAddToCart(product)'> Add to cart</button>
   <button class="btn btn-danger mt-2" disabled="disabled" v-else>Add To Cart </button>
   </div>


 </div>
    
</div>

</div>

</div>

<div v-else> 

        
    <button v-on:click='showCheckout' class="btn btn-primary mt-2"> Back </button>
</div>
</div>

<!---->
    
    <!--
    <div class="text-center">
        <button class="btn btn-primary mt-2" @click='addToCart(product)' v-if='canAddToCart(product)'>Add To Cart</button>
        <button class="btn btn-danger mt-2" disabled ='disabled' v-else>Add to Cart</button>
        
    </div>
    -->
    



</main>
</body>





<script>
    let webstore = new Vue({
        el: '#app',
        data: {
            name: '',
           
        products: products,

        cart:[], 
        showProduct: true,
        ShowUP: true,

        
        

    },

    methods: {

        addToCart(product) {
            this.cart.push(product.title);
        
    },

    removeItem(product){
        this.cart.splice(this.cart.indexOf
        (product))
    },

    

    showCheckout(){
        this.showProduct = this.showProduct ? false : true;
      
    
    },

    Sortby(){
        this.showUP = this.ShowUP ? false : true;
      
    
    },



    
    canAddToCart (product) {
        return product.availableInventory > this.cartCount
        (product.title);

    },

    cartCount(products) {
        let count = 0;
        for(let i = 0; i < this.cart.length; i++) {
            if(this.cart[i] === products){
                 count++; 
            }
            }
            return count;
        }
    
    },



 computed: {
       sortedProductsDown() {
           function compare(a, b) {

           if (a.price > b.price) return 1;
           if (a.price < b.price) return -1;
           return 0;
            
           }

           return this.products.sort(compare);
       },
    

    
},


    });
</script>
</html>